.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo{
    width: 250px;
}

.navbar{
    display: flex;
    width: 100%;
    background-color: rgb(178,18,61);
    padding:10px 0;
    justify-content: center;
}

.navbar > *{
    list-style: none;
    color:white;
    text-decoration: none;
    margin:0 2vh;
}

.navbar > a:hover{
    color:rgb(236,192,221);  
}

.navbar > a:active{
    color:lightcoral;  
}
